*DS_Store*
*.o
*.o.tmp
*.lo
*.obj
*~
*.cache
*.log
config.h
*.status
*.class
*.jar
*.dylib
*.a
*.a.lock
*.la
*.lai
*.libs/*
*_libs/*
stamp-*
*.dll
*.mdb
confdefs.h
conftest*
.dirstamp
Makefile
csharpcomp.sh
javacomp.sh
po/Makefile.in
po/POTFILES
gettext-*/intl/charset.alias
gettext-*/intl/ref-*.sed
gettext-*/*/alloca.h
gettext-*/gnulib-lib/arg-nonnull.h
gettext-*/gnulib-lib/c++defs.h
gettext-*/gnulib-lib/charset.alias
gettext-*/gnulib-lib/configmake.h
gettext-*/gnulib-lib/getopt.h
gettext-*/gnulib-lib/iconv.h
gettext-*/gnulib-lib/locale.h
gettext-*/gnulib-lib/ref-*.sed
gettext-*/gnulib-lib/signal.h
gettext-*/gnulib-lib/stdio.h
gettext-*/gnulib-lib/stdlib.h
gettext-*/gnulib-lib/string.h
gettext-*/gnulib-lib/sys/stat.h
gettext-*/gnulib-lib/sys/types.h
gettext-*/gnulib-lib/time.h
gettext-*/gnulib-lib/unistd.h
gettext-*/gnulib-lib/unistr.h
gettext-*/gnulib-lib/unitypes.h
gettext-*/gnulib-lib/uniwidth.h
gettext-*/gnulib-lib/unused-parameter.h
gettext-*/gnulib-lib/warn-on-use.h
gettext-*/gnulib-lib/wchar.h
gettext-*/gnulib-lib/wctype.h
