*DS_Store*
*.o
*.o.tmp
*.lo
*.obj
*~
*.cache
*.log
config.h
config.h-t
*.status
*.class
*.jar
*.dylib
*.a
*.a.lock
*.la
*.lai
*.libs/*
*_libs/*
stamp-*
*.dir.tar.*
*.dll
*.elc
*.exe
*.gmo
*.mdb
*.tar.xz
confdefs.h
conftest*
.dirstamp
Makefile
csharpcomp.sh
javacomp.sh
po/Makefile.in
po/POTFILES
gettext-*/*/alloca.h
gettext-*/*/arg-nonnull.h
gettext-*/*/c++defs.h
gettext-*/*/charset.alias
gettext-*/*/configmake.h
gettext-*/*/fcntl.h
gettext-*/*/getopt.h
gettext-*/*/iconv.h
gettext-*/*/inttypes.h
gettext-*/*/locale.h
gettext-*/*/ref-*.sed
gettext-*/*/signal.h
gettext-*/*/stdio.h
gettext-*/*/stdlib.h
gettext-*/*/string.h
gettext-*/*/sys/stat.h
gettext-*/*/sys/types.h
gettext-*/*/time.h
gettext-*/*/uniconv.h
gettext-*/*/unilbrk.h
gettext-*/*/unistd.h
gettext-*/*/unistr.h
gettext-*/*/unitypes.h
gettext-*/*/uniwidth.h
gettext-*/*/unused-parameter.h
gettext-*/*/warn-on-use.h
gettext-*/*/wchar.h
gettext-*/*/wctype.h
gnulib
