Makefile
csharpexec.sh
javaexec.sh
libtool
po/Makefile.in
po/POTFILES
examples/installpaths
intl/ChangeLog.inst
intl/VERSION
libgettextpo/exported.sh
man/x-to-1
misc/autopoint
misc/convert-archive
misc/gettextize
src/user-email
intl/libintl.h
intl/libgnuintl.h
gnulib-lib/byteswap.h
gnulib-lib/dirent.h
gnulib-lib/fnmatch.h
gnulib-lib/glib.h
gnulib-lib/glib/ghash.h
gnulib-lib/glib/glist.h
gnulib-lib/glib/gprimes.h
gnulib-lib/glib/gstrfuncs.h
gnulib-lib/glib/gstring.h
gnulib-lib/glib/gtypes.h
gnulib-lib/glibconfig.h
gnulib-lib/libxml/c14n.h
gnulib-lib/libxml/catalog.h
gnulib-lib/libxml/chvalid.h
gnulib-lib/libxml/debugXML.h
gnulib-lib/libxml/dict.h
gnulib-lib/libxml/DOCBparser.h
gnulib-lib/libxml/encoding.h
gnulib-lib/libxml/entities.h
gnulib-lib/libxml/globals.h
gnulib-lib/libxml/hash.h
gnulib-lib/libxml/HTMLparser.h
gnulib-lib/libxml/HTMLtree.h
gnulib-lib/libxml/list.h
gnulib-lib/libxml/nanoftp.h
gnulib-lib/libxml/nanohttp.h
gnulib-lib/libxml/parser.h
gnulib-lib/libxml/parserInternals.h
gnulib-lib/libxml/pattern.h
gnulib-lib/libxml/relaxng.h
gnulib-lib/libxml/SAX.h
gnulib-lib/libxml/SAX2.h
gnulib-lib/libxml/schemasInternals.h
gnulib-lib/libxml/schematron.h
gnulib-lib/libxml/threads.h
gnulib-lib/libxml/tree.h
gnulib-lib/libxml/uri.h
gnulib-lib/libxml/valid.h
gnulib-lib/libxml/xinclude.h
gnulib-lib/libxml/xlink.h
gnulib-lib/libxml/xmlautomata.h
gnulib-lib/libxml/xmlerror.h
gnulib-lib/libxml/xmlexports.h
gnulib-lib/libxml/xmlIO.h
gnulib-lib/libxml/xmlmemory.h
gnulib-lib/libxml/xmlmodule.h
gnulib-lib/libxml/xmlreader.h
gnulib-lib/libxml/xmlregexp.h
gnulib-lib/libxml/xmlsave.h
gnulib-lib/libxml/xmlschemas.h
gnulib-lib/libxml/xmlschemastypes.h
gnulib-lib/libxml/xmlstring.h
gnulib-lib/libxml/xmlunicode.h
gnulib-lib/libxml/xmlversion.h
gnulib-lib/libxml/xmlwriter.h
gnulib-lib/libxml/xpath.h
gnulib-lib/libxml/xpathInternals.h
gnulib-lib/libxml/xpointer.h
gnulib-lib/sched.h
gnulib-lib/spawn.h
gnulib-lib/sys/select.h
gnulib-lib/sys/time.h
gnulib-lib/sys/wait.h
gnulib-lib/uniname.h
gnulib-tests/test-posix_spawn*.sh
libgrep/langinfo.h
libgettextpo/gettext-po.h
po/en@*quot.insert-header
po/remove-potcdate.sed
src/.libs/*
src/hostname
src/msgattrib
src/msgcat
src/msgcmp
src/msgcomm
src/msgconv
src/msgen
src/msgexec
src/msgfilter
src/msgfmt
src/msggrep
src/msginit
src/msgmerge
src/msgunfmt
src/msguniq
src/recode-sr-latin
src/urlget
src/xgettext
tests/.libs/*
tests/cake
tests/fc[345]
tests/gettext*-*-prg
tests/testlocale
tests/tstgettext
tests/tstngettext
